@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: "Monserrat", sans-serif;
    overflow-x: hidden;
}
/*====== FORMATO IMAGEN LETRAS NAVBAR =========*/

#menu a{
    font-size:16px;
    font-weight:bolder;
    color: #3f3f3f;
}

/*====== CARRUSEL SLIDER IMAGENES =========*/
.carousel-inner {
    max-height: 25rem;
}

/*====== ancho de mis tramites (siempre diviidir en section para que todo sea fluid. =========*/
/*======  =========*/

.mtramitesancho{
    width: 50%;
    margin: auto;
    text-align: justify;
}

/*====== CONTACTOS FONDO =========*/
/*====== CONTACTO BACKGROUND =========*/


#bg-contactos {
    position: relative;
  
}



/*====== CONTACTO =========*/
/*====== formulario =========*/
 
.img-contacto {
    background-color: #1b2a4e;
}

/*====== pie de pagina =========*/
/*====== footer =========*/

footer {
    background-color: #1b2a4e;
    min-height: 100px;
}

footer p {
    color: #f3f3f3;
    text-align: center;

}

#iconos a{
    font-size: 26px;
    padding: 0 8xs;
    color: #f3f3f3;
}

.novedades {
    text-align: center;
}

#carouselExampleControls{
    padding-top: 0 !important;
}

/*====== MEDIA QUARES PANTALLA SM - AJUSTAR TEXTO EN PANTALLAS CHICAS 768px =========*/
/*====== el parrafo en pantallas chicas ocupa el 90% del ancho =========*/



@media (max-width:768px){
    #intro, #equipo{
        width: 90% !important;
    }
    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }
    #bg-contactos {
        position: relative;
        top: -0px;
    }

    .mtramitesancho{
        width: 75%;
        margin: auto;
        text-align: justify;
    }

    #carouselExampleControls{
        padding-top: 0 !important;
    }
    

   
}

/*====== MEDIA QUARES PANTALLA SM - AJUSTAR TEXTO EN PANTALLAS CHICAS 576px =========*/
/*====== el parrafo en pantallas chicas ocupa el 90% del ancho =========*/

@media (max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
       justify-content: center !important;
    }
    
    .mtramitesancho{
        width: 75%;
        margin: auto;
        text-align: justify;
    }

    #carouselExampleControls{
        padding-top: 0 !important;
    }
    
    
    
}

/*====== MEDIA QUARES PANTALLA SM - AJUSTAR TEXTO EN PANTALLAS CHICAS 300px =========*/
/*====== el parrafo en pantallas chicas ocupa el 90% del ancho =========*/

@media (max-width:300px){
    .icono-wrap{
        flex-wrap: wrap;
       justify-content: center !important;
    }
    
    .mtramitesancho{
        width: 75%;
        margin: auto;
        text-align: justify;
    }
    
    .bordecarrusel {
        padding-top: 110px !important;
    }
    
}
